@model Education.Areas.Admin.Model.Report

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="content-header">
        <table cellspacing="0">
            <tbody>
                <tr>
                    <td style="width:50%;"><h3 class="icon-head head-cms-page">Xem thông tin báo cáo</h3></td>
                    <td class="form-buttons">
                        <button class="scalable Back" name="submit" onclick="setLocation('/Admin/Report')" type="button" value="Back"><span>Quay lại</span></button>
                        @if (!Model.State)
                        {
                            <button class="scalable Save" name="submit" type="submit" value="Save"><span>Đã xử lý</span></button>
                        }
                        else
                        {
                            <button class="scalable Delete" name="submit" type="submit" value="Delete"><span>Xóa trang</span></button>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="entry-edit">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.Content)
        @Html.HiddenFor(model => model.Created)
        @Html.HiddenFor(model => model.ReportTypeID)
        @Html.HiddenFor(model => model.State)
        @Html.HiddenFor(model => model.ImageUrl)
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><a href="#">Xem thông tin báo cáo</a></h4>
            <div class="form-buttons"></div>
        </div>
        <div class="fieldset " id="user_base_fieldset">
            <div class="hor-scroll">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label">
                                @Html.LabelFor(model => model.UserID)
                            </td>
                            <td class="value">
                                <a href="@Url.Action("Edit", "Account", new { id = Model.UserID })">@Model.AppUser.Username</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                @Html.LabelFor(model => model.ReportTypeID)
                            </td>
                            <td class="value">
                                <span>
                                    @Model.ReportType.Name
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                @Html.LabelFor(model => model.Content)
                            </td>
                            <td class="value">
                                <span>
                                    @Model.Content
                                </span>
                            </td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <tr>
                                <td class="label">@Html.LabelFor(model => model.ImageUrl)</td>
                                <td class="value">
                                    <img style="max-width: 200px;" id="img-path" src="@Url.Content(Model.ImageUrl)" alt="" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}