@model Education.Areas.Admin.Model.Post

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { id = "postForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="content-header">
        <table cellspacing="0">
            <tbody>
                <tr>
                    <td style="width:50%;"><h3 class="icon-head head-cms-page">Sửa thông tin bài viết</h3></td>
                    <td class="form-buttons">
                        <button class="scalable Back" name="submit" onclick="setLocation('/Admin/Post')" type="button" value="Back"><span>Quay lại</span></button>
                        <button class="scalable Reset" name="submit" type="reset" value="Reset"><span>Reset</span></button>
                        <button class="scalable Delete" name="submit" onclick="setLocation('/Admin/Post/Delete/@Model.ID')" type="button" value="Delete"><span>Xóa trang</span></button>
                        <button class="scalable Save" name="submit" type="button" value="submit" onclick="submitForm()"><span>Lưu trang</span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="entry-edit">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Created)
        @Html.HiddenFor(model => model.Modified)
        @Html.HiddenFor(model => model.UserID)
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><a href="#">Sửa thông tin bài viết</a></h4>
            <div class="form-buttons"></div>
        </div>
        <div class="fieldset " id="user_base_fieldset">
            <div class="hor-scroll">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label">
                                @Html.LabelFor(model => model.CategoryID)

                            </td>
                            <td class="value">
                                @{
                                    object htmlAttributeSub = new { @class = "input-text" };
                                    bool disableSub = false;
                                    @Html.DropDownListFor(model => model.CategoryID, new SelectList(Model.Categories, "ID", "Name", !disableSub ? Model.CategoryID : 0), "-- Danh mục --", htmlAttributeSub)
                                    <br />@Html.ValidationMessageFor(model => model.CategoryID)
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                @Html.LabelFor(model => model.Name)

                            </td>
                            <td class="value">
                                @Html.TextBoxFor(model => model.Name, new { @class = "input-text" })
                                <br />@Html.ValidationMessageFor(model => model.Name)
                            </td>
                        </tr>
                        <tr class="hide">
                            <td class="label">
                                <label>Số lượng lượt thích</label>
                            </td>
                            <td class="value">
                                @Model.LikePosts.Count
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                @Html.LabelFor(model => model.Description)
                            </td>
                            <td class="value">
                                @Html.TextAreaFor(model => model.Description, new { @class = "input-text" })
                                <br />@Html.ValidationMessageFor(model => model.Description)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                @Html.LabelFor(model => model.Alias)

                            </td>
                            <td class="value">
                                @Html.TextBoxFor(model => model.Alias, new { @class = "input-text" })
                                <br />@Html.ValidationMessageFor(model => model.Alias)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                @Html.LabelFor(model => model.Status)
                            </td>
                            <td class="value">
                                @Html.CheckBoxFor(m => m.Status)
                                <br />@Html.ValidationMessageFor(model => model.Status)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(model => model.ImageUrl)</td>
                            <td class="value">
                                @Html.HiddenFor(model => model.ImageUrl)
                                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                {
                                    <img style="max-width: 200px;" id="img-path" src="@Url.Content(Model.ImageUrl)" alt="" />
                                }
                                else
                                {
                                    <img style="max-width: 200px;" id="img-path" src="@Url.Content("~/Assets/Admin/Images/default.gif")" alt="" />
                                }

                                <div>
                                    <input style="max-width: 200px;" type="file" id="image" name="datafile" accept="image/*" onchange="uploadFileBase64()" />
                                </div>
                                <span id="validityMessages" style="color: Red;"></span>
                                <br />@Html.ValidationMessageFor(model => model.ImageUrl)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                @Html.LabelFor(model => model.Content)
                            </td>
                            <td class="value">
                                @Html.TextAreaFor(model => model.Content, new { @class = "input-text" })
                                <br />@Html.ValidationMessageFor(model => model.Content)
                                <script>CKEDITOR.replace('Content');</script>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
            var image = [];
            function uploadFileBase64() {
                var files = document.getElementById("image").files;
                for (var i = 0; i < files.length; i++) {
                    if (files && files[i]) {
                        image.push(files[i]);
                        var FR = new FileReader();
                        var srcData;
                        FR.onload = function (e) {
                            srcData = e.target.result;
                            $('#img-path').attr('src', srcData);
                        };
                        FR.readAsDataURL(files[i]);
                    }
                }
            }

            function submitForm() {
                var formData = new FormData();
                for (instance in CKEDITOR.instances)
                    CKEDITOR.instances[instance].updateElement();
               
                var postForm = $("#postForm");
                if (!postForm.valid()) return;
                var u = postForm.serializeArray();
                for (var r = 0; r < u.length; ++r) {
                    formData.append(u[r].name, u[r].value);
                }
                for (var i = 0; i < image.length; i++) {
                    var s = image[i];
                    formData.append("datafile", s);
                }
                return $.ajax({
                    url: "/Admin/Post/Edit",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data == 1) {
                            $("ul.messages").html("<li class='success-msg'><ul><li>Cập nhật thông tin thành công</li></ul></li>")
                            window.open('/Admin/Post', '_self', false)
                        } else {
                            $("ul.messages").html("<li class='error-msg'><ul><li>Cập nhật thông tin thất bại</li></ul></li>")
                        }
                    }
                });
            }
    </script>
                                    }