@model Education.Areas.Admin.ModelsView.LessionModel
@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SubjectClassID)
    @Html.HiddenFor(model => model.SubjectID)
    @Html.HiddenFor(model => model.ClassInfoID)
    <div class="container">
        <div class="row">
            <div class="lessions">
                <!-- Begin list subject -->
                <div class="col-md-3">
                    <div class="list-subjects">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="title">Danh mục môn học</h1>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        @if (Model.Subjects != null && Model.Subjects.Count > 0)
                                        {
                                            foreach (var item in Model.Subjects)
                                            {
                                                if (item.ID == Model.SubjectID)
                                                {
                                                    <a class="subject active" href="@Url.Action("Index", new { subjectID = item.ID, classInfoID = Model.ClassInfoID })">
                                                        <span class="icon-subject fa fa-amazon"></span>
                                                        @item.SubjectName
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="subject" href="@Url.Action("Index", new { subjectID = item.ID, classInfoID = Model.ClassInfoID })">
                                                        <span class="icon-subject fa fa-amazon"></span>
                                                        @item.SubjectName
                                                    </a>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End list subject -->
                <!-- Begin content -->
                <div class="col-md-9">
                    @*<div class="create-lession">
                            <a class="btn btn-default" href="@Url.Action("Create")">Tạo bài giảng</a>
                        </div>
                        <div class="create-lession">
                            <a class="btn btn-default" href="@Url.Action("Edit",new { id = 1})">Sửa bài giảng</a>
                        </div>*@
                    <nav class="navbar navbar-default" style="margin:0;padding:0">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                @if (Model.ClassInfos != null && Model.ClassInfos.Count > 0)
                                {
                                    foreach (var item in Model.ClassInfos)
                                    {
                                        if (item.ID == Model.ClassInfoID)
                                        {
                                            <li class="active"><a href="@Url.Action("Index", new { subjectID = Model.SubjectClassID, classInfoID = item.ID })">@item.ClassName</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Index", new { subjectID = Model.SubjectClassID, classInfoID = item.ID })">@item.ClassName</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </nav>
                    <!-- Begin class with lession -->

                    <h2 class="title-subject">
                        Danh sách bài giảng:
                        @if (Model.Subject != null)
                        {
                            <span>@Model.Subject.SubjectName</span>
                        }
                        @if (Model.ClassInfo != null)
                        {
                            <span>@Model.ClassInfo.ClassName</span>
                        }
                    </h2>
                    <p>
                        @if (Model.SubjectClass != null)
                        {
                            @Html.Raw(Model.SubjectClass.Description)
                        }
                    </p>

                    @if (Model.Lessions != null && Model.Lessions.Count > 0)
                    {
                        foreach (var item in Model.Lessions)
                        {
                            <div id="list-lessions">
                                <div class="lession thumbnail">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="profile-lession">
                                                @if (!string.IsNullOrEmpty(item.ImageUrl))
                                                {
                                                    <img src="@Url.Content(item.ImageUrl)"
                                                         class="img img-thumbnail" />
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <a class="link-lession" href="@Url.Action("Detail", new { id = item.ID })">
                                               <h3>@item.Name</h3>
                                            </a>
                                            <p class="desctiption-lession">
                                                @Html.Raw(item.Description)
                                            </p>
                                            <ul class="info-lession" style="list-style: none; padding-left: 0;">
                                                <li style="padding: 5px;">
                                                    <span><i class="glyphicon glyphicon-share"></i>Người đăng: @item.Teacher.AppUser.Username - @item.Teacher.AppUser.FullName</span>
                                                    <span><i class="glyphicon glyphicon-time"></i>Thời gian: @item.Created</span>
                                                </li>
                                                <li style="padding: 5px;">
                                                    <span><i class="glyphicon glyphicon-hd-video"></i>Xem</span>
                                                    <span><i class="glyphicon glyphicon-heart"></i>Thích</span>
                                                    <span><i class="fa fa-download"></i>Tải về</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        if (Model.PagerModel != null)
                        {
                            <nav aria-label="Page navigation" class="text-center wrap-pagination">
                                <ul class="pagination">
                                    @if (Model.PagerModel.PageNumber == 1)
                                    {
                                        <li class="hide">
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="?page=@(Model.PagerModel.PageNumber - 1)&Keyword=@Model.Keyword" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    }
                                    @for (int i = 0; i < Model.PagerModel.TotalPages; i++)
                                    {
                                        if (i == Model.PagerModel.PageNumber || i == Model.PagerModel.PageNumber + 1 || i == Model.PagerModel.PageNumber - 1)
                                        {
                                            if (i == Model.PagerModel.PageNumber - 1)
                                            {
                                                <li class="active"><a href="?page=@(i + 1)&Keyword=@Model.Keyword">@(i + 1)</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="?page=@(i + 1)&Keyword=@Model.Keyword">@(i + 1)</a></li>
                                            }
                                        }
                                    }
                                    @if (Model.PagerModel.PageNumber == Model.PagerModel.TotalPages)
                                    {
                                        <li class="hide">
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="?page=@(Model.PagerModel.PageNumber + 1)&Keyword=@Model.Keyword" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                    }
                    <div id="add-lessions" class="hide">
                        <a href="#">Xem thêm(5 bài giảng)</a>
                    </div>
                    <!-- End class with lession -->
                </div>
                <!-- End content -->
            </div>
        </div>
    </div>

}