@model Education.Areas.Admin.ModelsView.SchoolModel
@{
    Func<bool, string> getState = state => state ? "Hiển thị" : "Ẩn";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="content-header">
        <table cellspacing="0">
            <tbody>
                <tr>
                    <td style="width:50%;"><h3 class="icon-head head-cms-page">Danh sách học sinh </h3></td>
                    <td class="form-buttons">
                        <button class="scalable Add" name="submit" onclick="setLocation('/Admin/School/Create')" type="button" value="Add">
                            <span>Thêm mới</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box_search" style="width: 100%; display: none;">
        <table cellspacing="10" cellpadding="0">
            <tbody>
                <tr>
                    <td>Từ khóa</td>
                    <td>@Html.TextBox("Keyword", "", new { @class = "input-text", style = "float:left;height:19px;width:200px;" })</td>
                    <td>Trạng thái:</td>
                    <td>@Html.DropDownList("Status", Model.ListStatus, "--Trạng thái--", new { style = "height: 23px" })</td>
                    <td><input type="submit" name="submit" value="Tìm kiếm" class="form-button" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="PageList" class="t-widget t-grid">
        @if (Model.Schools != null && Model.Schools.Count > 0)
        {
            <table id="category" cellspacing="0">
                <thead class="t-grid-header">
                    <tr>
                        <th scope="col" class="t-header">
                            <span class="t-link">Tên trường</span>
                        </th>
                        <th scope="col" class="t-header">
                            <span class="t-link">Loại trường</span>
                        </th>
                        <th scope="col" class="t-header">
                            <span class="t-link">Địa chỉ</span>
                        </th>
                        <th scope="col" class="t-header">
                            <span class="t-link">Cấp học</span>
                        </th>
                        <th scope="col" class="t-header">
                            <span class="t-link">Thao tác</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="ui-sortable">
                    @foreach (var item in Model.Schools)
                    {
                        if (item != null && item.ID > 0)
                        {
                            <tr displaystate="collapsed">
                                <td style="vertical-align: middle;">
                                    <span>@item.Name</span>
                                </td>
                                <td>
                                    <span>@item.SchoolType.Name</span>
                                </td>
                                <td>
                                    <span>@item.Address</span>
                                </td>
                                <td>
                                    <span>@item.LevelEducation.Name</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                                    @*<span> | </span>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>Không có trường học nào</h2>
        }
    </div>
}