@model Education.Areas.Admin.ModelsView.LessionModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="content-header">
        <table cellspacing="0">
            <tbody>
                <tr>
                    <td style="width:50%;"><h3 class="icon-head head-cms-page">Quản trị bài giảng </h3></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box_search" style="width: 100%;">
        <table cellspacing="10" cellpadding="0">
            <tbody>
                <tr>
                    <td>Từ khóa</td>
                    <td>@Html.TextBox("Keyword", "", new { @class = "input-text", style = "float:left;height:19px;width:200px;" })</td>
                    <td>Trạng thái:</td>
                    <td>@Html.DropDownList("Status", Model.ListStatus, "--Trạng thái--", new { style = "height: 25px" })</td>
                    <td><input type="submit" name="submit" value="Tìm kiếm" class="form-button" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="PageList" class="t-widget t-grid">
        @if (Model.Lessions != null && Model.Lessions.Count > 0)
        {
            <table id="category" cellspacing="0">
                <thead class="t-grid-header">
                    <tr>
                        <th scope="col" class="t-header">
                            <span class="t-link">Tên</span>
                        </th>
                        <th scope="col" class="t-header">
                            <span class="t-link">Giáo viên đăng</span>
                        </th>
                        <th scope="col" class="t-header">
                            <span class="t-link">Đường dẫn</span>
                        </th>
                        <th scope="col" class="t-header">
                            <span class="t-link">Trạng thái</span>
                        </th>
                        <th scope="col" class="t-header">
                            <span class="t-link">Thao tác</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="ui-sortable">
                    @foreach (var item in Model.Lessions)
                    {
                        <tr displaystate="collapsed">
                            <td style="vertical-align: middle;">
                                <a href="@Url.Action("Edit", "Lession", new { id = item.ID})">@item.Name</a>
                            </td>
                            <td>
                                @Html.ActionLink(item.Teacher.AppUser.Username, "Edit", new { controller = "Account", id = item.Teacher.UserID })
                            </td>
                            <td>
                                @item.Alias
                            </td>
                            <td>
                                @getState(item.Status)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                                @if (item.Status)
                                {
                                    <span> | </span>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>Không có bài giảng nào</h2>
        }
    </div>
}