@model Education.Areas.Admin.ModelsView.CategoryModel

@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="post page-collection">
    <section class="sildebar-top-search">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 hidden-xs">
                    Danh sách chuyên mục
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="box-content">
                        <form class="navbar-form navbar-left navbar-sw-suport">
                            <div class="form-group">
                                <input type="text" class="txtSearch form-control" placeholder="Tìm trợ giúp...">
                            </div>
                            <button type="button" class="btn btn-default btn-search" onclick="quicksearch();"><span class="ti-search"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="wrap-breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Category")">Danh sách chuyên mục</a></li>
                <li class="active">@Model.Category.Name </li>
            </ol>
        </div>
    </div>
    <div class="title-collection">
        <div class="container text-center">
            <h2 class="title">@Model.Category.Name</h2>
        </div>
    </div>
    <section class="content-suport">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="left-content">
                        <div class="row">
                            <ul class="list-posts">
                                @if (Model.Posts != null && Model.Posts.Count > 0)
                                {
                                    foreach (var item in Model.Posts)
                                    {
                                        <li class="col-xs-12 col-md-6" style="margin-bottom: 40px;">
                                            <div class="posts-box row">
                                                <div class="col-xs-5 col-md-12">
                                                    <a href="@Url.Action("Detail", "Post", new { id = item.ID })" class="image img-hover-effects-style-1">
                                                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                                                        {
                                                            <img src="@Url.Content(item.ImageUrl)" alt="">
                                                        }
                                                    </a>
                                                </div>
                                                <div class="col-xs-7 col-md-12">
                                                    <h3 class="name-posts"><a href="@Url.Action("Detail", "Post", new { id = item.ID })">@item.Name</a></h3>
                                                    <div class="social-network">
                                                        <div class="fb-like" data-href="@(Education.Areas.Admin.Model.Config.UrlHost + Url.Action("Detail", "Post", new { id = item.ID }))" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                                                        <script src="https://apis.google.com/js/platform.js" async defer>
                                                            { lang: 'vi' }
                                                        </script>
                                                        <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                                                    </div>
                                                    <div class="summary hidden-xs hidden-sm">
                                                        @Html.Raw(item.Description)
                                                        <a href="@Url.Action("Detail", "Post", new { id = item.ID })">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li class="col-xs-12">
                                        <h3>Không có bài viết nào thuộc chuyên mục "@Model.Category.Name"</h3>
                                    </li>
                                }
                            </ul>
                        </div>
                        @if (Model.PagerModel != null)
                        {
                            <nav aria-label="Page navigation" class="text-center wrap-pagination">
                                <ul class="pagination">
                                    @if (Model.PagerModel.PageNumber == 1)
                                    {
                                        <li class="hide">
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="?page=@(Model.PagerModel.PageNumber - 1)" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    }
                                    @for (int i = 0; i < Model.PagerModel.TotalPages; i++)
                                    {
                                        if (i == Model.PagerModel.PageNumber || i == Model.PagerModel.PageNumber + 1 || i == Model.PagerModel.PageNumber - 1)
                                        {
                                            if (i == Model.PagerModel.PageNumber - 1)
                                            {
                                                <li class="active"><a href="?page=@(i + 1)">@(i + 1)</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="?page=@(i + 1)">@(i + 1)</a></li>
                                            }
                                        }
                                    }
                                    @if (Model.PagerModel.PageNumber == Model.PagerModel.TotalPages)
                                    {
                                        <li class="hide">
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="?page=@(Model.PagerModel.PageNumber + 1)" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
                <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                    <div class="right-content">
                        <div class="box-content">
                            <div class="heading-box">
                                <h3 class="title">
                                    <span>Đọc nhiều nhất</span>
                                </h3>
                            </div>
                            <div class="body-box">
                                <ul class="list-link-news">
                                    <li class="faa-parent animated-hover">
                                        <span class="number faa-ring">1</span>
                                        <a href="@Url.Action("Detail", "Post", new { id = 4})" class="link-news">
                                            Hướng dẫn sử dụng diễn đàn
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Assets/Client/Js/post.min.js"></script>
